* {
    border-radius: 0 !important;
}

.dsvDKK {
    padding: 0px 0rem 1rem !important;
    gap: 0.5rem !important;
}


[type="live"] {
    max-height: none !important;
    width: 100% !important;
    height: auto !important;
}

.mRjYu .emoticon {
    width: 3.5rem !important;
    height: 3.5rem !important;
}

.ljuFTU {
    padding: 0rem !important;
}

.fJuRYB {
    padding: 8.2rem 0.8rem;
}

.hnJjrZ {
    padding: 0rem !important;
    gap: 0rem !important;
}

.fqGCiJ {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.izXtOi {
    padding-left: 6.5rem;
}

.elcjDY>main .main-container {
    max-width: 100%;
}

.elcjDY>main {
    margin-top: 8.2rem;
}

.sc-35433b29-0 {
    padding-left: 7rem;
}

.sc-a6c7a3ed-0 {
    margin-left: 4rem !important;
}

sc-d0f1815a-0 {
    margin-right: 2rem !important;
}

#header {
    background: #0e0e10 !important;
}

main .main-container {
    background: #0e0e10 !important;
}

.sc-9f2fab18-10 {
    background: #0d0d12 !important;

}

.sc-9f2fab18-7 {
    background: #0d0d12 !important;
}

.chat-group {
    background: #0d0d12 !important;
}

.sc-6456a53e-2 {
    background: #0d0d12 !important;
}

.sc-7ceadb57-0 {
    background: #0d0d12 !important;
    /* padding-left: 3.5rem !important; */
}

.kkOyLd {
    padding-left: 8rem;
}
