* {
    border-radius: 0 !important;
}


.dsvDKK {
    padding: 0px 0rem 1rem !important;
    gap: 0.5rem !important;
}


[type="live"] {
    max-height: none !important;
    width: 100% !important;
    height: auto !important;
}
